table {
    border: 1px solid;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    width: 100%;
    padding: 4px;
}


th {
    text-align: left;
}

form {
    border: 3px solid;
    padding: 10px;
}
