<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardBuster - Edit Board Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include 'navbar.j2' %}
    </header>

    <!-- Board Game Overview Table -->
    <h2>Board Game Overview</h2>
    <table>
        {% if data %}
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Player Count</th>
                <th>Game Cost</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for game in data %}
            <tr>
                <td>{{ game.gameID }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.categoryName }}</td>
                <td>{{ game.playerCount }}</td>
                <td>{{ game.gameCost }}</td>
                <td>{{ game.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <h1>Edit Board Game</h1>

    <!-- Edit Form -->
    <form id="edit" action="/edit_boardgame/{{data[0].gameID}}" method="POST">
        <h2>Edit Board Game</h2>

        <!-- Hidden field for game ID -->
        <input type="hidden" value="{{data[0].gameID}}" name="gameID" required>

        <!-- Fields for editing -->
        <label>Title:</label>
        <input type="text" value="{{data[0].title}}" name="title" required>

        <label for="categoryID">Category:</label>
        <select id="categoryID" name="categoryID" required>
            {% for key in categories %}
            <option value="{{key['categoryID']}}" {% if key['categoryID'] == data[0]['categoryID'] %}selected{% endif %}>
                {{key['categoryName']}}
            </option>
            {% endfor %}
        </select>

        <label>Player Count:</label>
        <input type="number" value="{{data[0].playerCount}}" name="playerCount" required>

        <label>Game Cost:</label>
        <input type="number" step="0.01" value="{{data[0].gameCost}}" name="gameCost" required>

        <label>Quantity:</label>
        <input type="number" value="{{data[0].quantity}}" name="quantity" required>

        <!-- Submit button -->
        <input type="submit" value="Edit Board Game" name="Edit_BoardGame" class="btn">
        <a href="/boardgames" class="btn">Cancel</a>
    </form>


    <footer>
        <p>© 2024 Austin Labador & Vincent Le</p>
    </footer>
</body>
</html>
