<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardBuster - Edit Customer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include 'navbar.j2' %}
    </header>

    <!-- Customer Overview Table -->
    <h2>Customer Overview</h2>
    <table>
        {% if data %}
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in data %}
            <tr>
                <td>{{ customer.customerID }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <h1>Edit Customer</h1>

    <!-- Edit Form -->
    <form id="edit" action="/edit_customer/{{data[0].customerID}}" method="POST">
        <h2>Edit Customer</h2>

        <!-- Hidden field for customer ID -->
        <input type="hidden" value="{{data[0].customerID}}" name="customerID" required>

        <!-- Fields for editing -->
        <label>Name:</label>
        <input type="text" value="{{data[0].name}}" name="name" required>

        <label>Email:</label>
        <input type="email" value="{{data[0].email}}" name="email" required>

        <label>Phone:</label>
        <input type="text" value="{{data[0].phone}}" name="phone" required>

        <!-- Submit button -->
        <input type="submit" value="Save Changes" name="Edit_Customer" class="btn">
        <a href="/customers" class="btn">Cancel</a>
    </form>
    <footer>
        <p>© 2024 Austin Labador & Vincent Le</p>
    </footer>

</body>
</html>
