<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardBuster - Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include 'navbar.j2' %}
    </header>

    <main>
    <section>
        <h1>Welcome to BoardBuster!</h1>
        <p>Manage your board games, customers, orders, and rentals with ease.</p>
    </section>
    <section id="home-body-p">
        <p>
            Boardbuster is a local game shop that aims to bring the tabletop game scene to the local community. 
            Boardbuster offers a rent-and-play service, allowing customers to visit their location and play through their wide collection of games. 
            Customers are charged on a “pay-per-hour” system, in which they can play any game available in-store, and are charged per hour. 
            They can rent these and return them, similar to a library service. 
            Additionally, customers may also purchase board games. 
        </p>
    </section>
    <section id="home-img-container">
        <img src="{{ url_for('static', filename = 'boardbuster_schema.png') }}" alt="">
    </section>
    </main>

    <footer>
        <p>© 2024 Austin Labador & Vincent Le</p>
    </footer>
</body>
</html>
