<nav>
    <a href="/">Home</a> |
    <a href="/boardgames">Manage Board Games</a> |
    <a href="/customers">Manage Customers</a> |
    <a href="/orders">Manage Orders</a> |
    <a href="/orderdetails">Order Details</a> |
    <a href="/rentals">Manage Rentals</a> |
    <a href="/rentaldetails">Rental Details</a> |
    <a href="/categories">Manage Categories</a>
</nav>