<nav>
    <a href="/">Home</a> |
    <a href="/boardgames">Board Games</a> |
    <a href="/customers">Customers</a> |
    <a href="/orders">Orders</a> |
    <a href="/orderdetails">Order Details</a> |
    <a href="/rentals">Rentals</a> |
    <a href="/rentaldetails">Rental Details</a> |
    <a href="/categories">Categories</a>
</nav>