<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardBuster - Edit Order</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include 'navbar.j2' %}
    </header>

    <!-- Order Overview Table -->
    <h2>Order Overview</h2>
    <table>
        {% if data %}
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in data %}
            <tr>
                <td>{{ order.orderID }}</td>
                <td>{{ order.name }} (ID: {{ order.customerID }})</td>
                <td>{{ order.orderDate }}</td>
                <td>{{ order.orderAmount }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <h1>Edit Order</h1>

    <!-- Edit Form -->
    <form id="edit" action="/edit_order/{{ data[0].orderID }}" method="POST">

        <!-- Hidden field for order ID -->
        <input type="hidden" value="{{ data[0].orderID }}" name="orderID" required>

        <!-- Fields for editing -->

        <label>Order Date:</label>
        <input type="date" value="{{ data[0].orderDate }}" name="orderDate" required>

        <!-- Submit button -->
        <input type="submit" value="Save Changes" name="Edit_Order" class="btn">
        <a href="/orders" class="btn">Cancel</a>
    </form>

    <footer>
        <p>© 2024 Austin Labador & Vincent Le</p>
    </footer>

</body>
</html>
