<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardBuster - Manage Orders</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        {% include 'navbar.j2' %}
    </header>

    <h1>Manage Orders</h1>

    <form id="add" action="/orders" method="POST">
        <h2>Add New Order</h2>
        <label for="addOrderCustomer">Customer:</label>                
        <select name="customer" id="addOrderCustomer" required>
            {% if customers %}
            {% for key in customers %}
            <option value="{{key['customerID']}}">{{key['name']}}</option>
            {% endfor %}
            {% endif %}
        </select>
        <label>Order Date:</label> <input type="date" name="orderDate" required>
        <label>Order Amount:</label> <input type="number" step="0.01" name="orderAmount" required>
        <input type="submit" value="Add Order" name="Add_Order" class="btn">
    </form>

    <h2>Existing Orders</h2>
    <table>
        {% if orders %}
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Amount</th>

            <!-- Extra header row for edit and delete buttons -->
            <th>Actions</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.orderID}}</td>
            <td>{{order.name}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.orderAmount}}</td>
            <td>
                <a href="edit_order/{{order.orderID}}" class="btn">Edit</a>
                <a href="delete_order/{{order.orderID}}" class="btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    <footer>
        <p>© 2024 Austin Labador & Vincent Le</p>
    </footer>
    <!-- 
    Citation for the following function:
    Date: 11/7/2024
    Adapted from CS 340 Exploration - Web Application Technology
    Used the concept of hiding and showing forms, as well as the source code as a basis. 
    Adapted this to fit the needs of this form.
    Source URL: https://canvas.oregonstate.edu/courses/1976520/pages/exploration-web-application-technology?module_item_id=24719064
    -->
    <script language="JavaScript">

        function closeForm() {
            document.getElementById('edit').style.display = 'none';
            document.getElementById('add').style.display = 'block';
        }
    </script>
</body>
</html>
